body {
    background-color: #EBEBEB;
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.body1{
    padding-left: 30px;
    padding-right: 30px;
}

h2 {
    font-size: 70px;
    margin-bottom: 20px;
    padding-top: 25px;
}

.con{
    background-color: #cdb19a;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.learn {
    color: black;
    font-size: 20px;
    text-align: center;
}

.heart {
    width: 45px;
    padding-left: 35px;
    padding-top: 7px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b5aeaa;
    position: fixed;
    top: 0;
    width: 1424px;
    height: 60px;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 18px;
    padding-top: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #EBEBEB;
    height: 60px;
  }
  
  .active {
    background-color: #cdb19a;
    height: 60px;
  }