.header{
    /*background-image: url(images/header.jpeg);*/
    background-color: #e3cbc4;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 25px;
}

img.one{
    width: 60px;
    padding-right: 20px;
}
img.two{
    width: 60px;
}

.con{
    background-color: #cdb19a;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
}

.contact{
    color: #94847c;
    padding-bottom: 90px;
}

.contacts{
    display: grid;
    grid-gap: 30px;
    row-gap: 30px;
    column-gap: 30px;
    grid-template-areas: 'email phone';
    grid-template-columns: repeat(2, 1fr);
    padding-left: 250px;
    padding-bottom: 10px;
}

.email{
    border-style: double;
    border-color: black;
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 20px;
    margin-right: 145px;
}

.phone{
    border-style: double;
    border-color: black;
    margin-bottom: 15px;
    padding-left: 15px;
    margin-right: 275px;
    border-radius: 20px;
}

body {
    background-image: url(images/background1.jpg);
    background-size: cover;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.body1{
    padding-left: 30px;
    padding-right: 30px;
}


h1 {
    color: white;
    font-size: 120px;
    margin-bottom: 35px;
}

h2 {
    font-size: 70px;
    margin-bottom: 20px;
}
h3 {
    color: #94847c;
    font-size: 35px;
}

p {
    color: white;
    font-size: 20px;
}


.heart {
  width: 45px;
  padding-left: 15px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b5aeaa;
  position: fixed;
  top: 0;
  width: 1424px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  font-size: 18px;
}

li a:hover:not(.active) {
  background-color: white;
}

.active {
  background-color: #cdb19a;
}